html{
  background:url("wallpaper.jpg") no-repeat center center fixed;
background-size: cover;
  
}
body{

  display:block;
  margin-left: auto;
  margin-right: auto;

}
/*
.bg{
  background:url("images/mountain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
/*  filter: blur(5px);
 -webkit-filter: blur(5px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
/*  -webkit-transition:linear 0.3s;   /* HOVER OFF */
} 
.content:hover{
  filter:blur(0px);
  -webkit-filter:blur(0px);
  transition: 0.2s linear; /* HOVER ON*/

}
/*    background: rgba(255, 255, 255, 1); WHITE BACKGROUND*/
/*    background: rgba(255, 255, 255, 1); WHITE BACKGROUND*/


.content{
	display: inline-block;
    background: rgba(253, 253, 253, 1); /*off white */
    border-radius: 0px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
	left: 32.5%;
	top: 11%;
	/*    width: 465px; */
    width: wrap;
    height: 55px;
    position:absolute;
    float:center;


}
  .topcontent{
	display: inline-block;
    background: rgba(253, 253, 253, 1); /*off white */
    border-radius: 0px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
	float: center;
	left: 43%;
	top: 60px;
    width: 325px;
    height: 30px;
    position:absolute;
  }
  
    .topmessage{
	
	padding-top: 2px;
	text-align:center;
	display: inline-block;
    background: rgba(253, 253, 253, 1); /*off white */
    border-radius: 0px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
	float: center;
	left: 48.5%;
	top: 30px;
    width: 130px;
    height:20px;
    position:absolute;
  }

.gifbg{
	background-repeat: repeat-y;
	background:url("images/Fall_leaves.gif");
	z-index: 2;
}

#date{
  color:black;
  font-size: 16px;
  font-weight:400;
  text-align: center;
  padding-top: 3px;
  font-family: Calibri, sans-serif;
  font-variant: small-caps;

}



ul {
  list-style-type: none;
  margin-top:6px;
  margin-bottom:6px;
  padding:0;
  clear:right;
}

#dis{
  display:inline-block;
  clear: none;
}


hr{
  color:white;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 200;
}

/* Search Boxes */
.sbox {
  width: 20%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  opacity: 0.9;
  transition: 0.2s ease;
  position: absolute;
  left: 40%;
  top: 15%;
  
  }

#search {
width: 50%;
margin-top: 20px;
padding-left:px;
font-size:16px;

  
}

tr, td {
height: 100%;
width: auto;
padding: 0 15px 0 15px;
}

td:hover a {
background-color: #EBEBEB;
box-shadow: 0 0 4px #FFFFFF;
color: #000000;
transition: 0.3s ease;
}

#Search td:nth-child(1) {
float: left;
margin-top: -2px;
width: 60%;
text-align: center;
opacity: 0.8;
}

#Search td:nth-child(2) {
float: right;
width: 60%;
}

input[type=text] {
font-family: Rubik, sans-serif;
font-variant: small-caps;
padding: 0 0 0 0px;
width: 85%;
border: none;
border-radius: 2px;
cursor: default;
opacity: 0.8;
transition: 0.2s ease;
}

input[type=text]:hover {
width: 100%;
opacity: 1.0;
box-shadow: 0 0 4px #FFFFFF;
}

input[type=text]:focus {
width: 100%;
opacity: 1.0;
box-shadow: 0 0 8px #FFFFFF;
}

form {
margin-bottom: 7px;
margin-top: 7px;
}

button{
	font-size: 16px;
	text-align: right;
	font-variant: small-caps;
	font-family: Rubik, Lato, Calibri, sans-serif;

}
 /* Dropdown Button */
.dropbtn {
	background-color: #fdfdfd;
    color: black;
    padding: 16px;
    

    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	color: white;
    display: none;
    position: absolute;
    background-color:#fdfdfd ;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */

.dropdown-content a {
	font-family:Rubik;
	font-size: 13px;
	background-color:#fdfdfd;
    padding: 10px 11.5px;
	color: white; 
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f2f2f2;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color:#fdfdfd;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fdfdfd;
} 
@media screen 
(max-width: 1330px) {
	.content{
	display: inline-block;
    background: rgba(253, 253, 253, 1); /*off white */
    border-radius: 0px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
    float:center;
	left: 29%;
	top: 68%;
	/*    width: 465px; */
    width: wrap;
	min-width:465px;
    height: 55px;
    position:absolute;


	}
}
@media screen and (min-width: 2000px) {
	.content{
	display: inline-block;
    background: rgba(253, 253, 253, 1); /*off white */
    border-radius: 0px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
    float:center;
	left: 36.5%;
	top: 11%;
	/*    width: 465px; */
    width: wrap;
    height: 55px;
    position:absolute;
	}
	
	  .topcontent{
	display: inline-block;
    background: rgba(253, 253, 253, 1); /*off white */
    border-radius: 0px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
	float: center;
	left: 44.5%;
	top: 60px;
    width: 325px;
    height: 30px;
    position:absolute;
  }
  
}
